@import "tailwindcss";

:root {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.541 0.281 293.009);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope Variable", Arial, Helvetica, sans-serif;
}

.btn-primary {
  @apply bg-primary font-medium py-2 px-4 rounded-full hover:bg-primary/90 transition-all active:scale-95 cursor-pointer disabled:cursor-not-allowed disabled:opacity-50 disabled:active:scale-100 disabled:hover:bg-primary;
}

.btn-secondary {
  @apply border border-foreground font-medium py-2 px-4 rounded-full hover:bg-foreground/5 transition-all active:scale-95 cursor-pointer disabled:cursor-not-allowed disabled:opacity-50 disabled:active:scale-100 disabled:hover:bg-foreground/5;
}
